body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: rgb(234, 234, 234);
    padding: 16px;
    width: 100vw;

}

.navbar > * {
    padding-left: 16px;
    padding-right: 16px;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.nav-left {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 8px;
    width: 75px;
    height: 35px;
}

/* Content */

.content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    text-align: center;
}

.tab-div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Menu */

.menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
    background-color: rgb(234, 234, 234);
}

.menu-div li {
    list-style-type: none;
}

.menu-content ul {
    display: grid;
    grid-template: 100px / repeat(3, 200px);
    grid-auto-rows: 100px;
}